*, *::after, *::before{
    box-sizing: border-box;
}
body{
    padding: 25px;
    font-family: sans-serif;
    


}
#container-wrapper{
    display: grid;
    grid-template-rows: 15vh auto auto;
    background-color: #f6f9fe;
    border-radius: 10px;
    
}

header{
    width: 100%;    
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-left: 20px;
}
nav{
    position: absolute;
    text-align: right;
    top: 100%;
    width: 100%;
    background-color: #e4e7eb;
    transform-origin: top;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin: 10px 20px 30px 0;
}
nav a{
    color: rgb(117, 116, 116);
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    
}
nav a.active{
    background-color: #38335d;
    padding: 17px 25px;
    border: 1px solid #38335d;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: 200ms ease-in-out;
}
nav a.active:hover{
    background-color: white;

    color: #38335d;
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav a.link:hover{
    color: #38335d; 
}
.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
    
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

@media screen and (min-width: 1025px) {
    .nav-toggle-label{
        display: none;
    }
    header{
        display: grid;
        grid-template: 
            ". logo navi ."
            / 1fr minmax(145px, 1fr) 6fr 1fr;


    }
    .logo{
        grid-column: 2/ 3;
      /* display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
      
 
       
    }
    nav{
        grid-column: 3/ 4;
        all: unset;
        /* display: flex;
        justify-content: flex-end;
        align-items: center; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        

    }
    nav ul{
        display: flex;
        justify-content: flex-end;

    }
    nav li{
        margin-left: 20px;
        margin-bottom: 0;
    }
    nav a{
        opacity: 1;
        position: relative;
    }
    .content{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr minmax(650px, 4fr) 2fr 1fr;
        grid-template-areas: ". content-one content-two .";
        
    
    }
    .inner-content-one{
        grid-area: content-one;
        
        
     
    }
    .inner-content-two{
        grid-area: content-two;
        background-image: url(/Assets/Illustration.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
     
    }

}

    @media screen and (max-width: 1025px){
    .inner-content-one h1{
        
        text-align: center;
    
    }
    .inner-content-one .text-two{
        text-align: center;
    }

    



}


@media screen and (max-width: 500px) {
    .email-join{
        flex-direction: column;
        align-items: center;
        
    }
    .email-join .join{
        width: 250px;
        height: 50px;
    }

}
/* ------------------------------------------------------- */

.content{  
    display: grid;
    margin-top: 50px;

}
.inner-content-one{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.learn{
    display: flex;
    justify-content: center;
}
.learn a{
    color: white;
}
.learn p:first-child{
    border-radius: 20px;
    background-color: #38335d;
    padding: 5px 40px;
    text-align: center;
    color: #cbc0e5;
  
}
.text-two{
    line-height: 25px;
}

.inner-content-one h1{
    font-size: 40px;
    margin-top: 0 2px;
 

}

.email-join{

    display: flex;
    justify-content: center;
    
}
.email-join .email{
    margin: 5px 5px;
    text-align: left;
}
.email-join .join{
    margin: 2px 5px;
    
}

.inner-content-one input{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    
}
.inner-content-one button{
    width: 120px;
    height: 55;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #38335d;
    border-radius: 5px;
    background-color: #38335d;
    color: white;
    transition: 200ms ease-in-out;
}
.inner-content-one button:hover{
    background-color: white;   
    color: #38335d;
}





/* INNER CONTENT TWO */
/* .inner-content-two{
    grid-area: content-two;
} */



footer{


    margin-top: 20px;
    margin-left: 20px;
}
.icon{
    margin-right: 10px;
    margin-bottom: 20px;
}
